version: '3.8'

services:
    traefik:
        image: traefik:latest
        container_name: traefik
        restart: unless-stopped
        command:
            - '--api.dashboard=true'
            # - '--api.insecure=true'
            - '--api.insecure=false'
            - '--entrypoints.web.address=:${TRAEFIK_HTTP_PORT:-80}'
            - '--entrypoints.websecure.address=:${TRAEFIK_HTTPS_PORT:-443}'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--providers.docker.network=proxy'
        ports:
            - '${TRAEFIK_HTTP_PORT:-80}:${TRAEFIK_HTTP_PORT:-80}'
            - '${TRAEFIK_HTTPS_PORT:-443}:${TRAEFIK_HTTPS_PORT:-443}'
            - '${TRAEFIK_DASHBOARD_PORT:-8080}:8080'
        volumes:
            - '/var/run/docker.sock:/var/run/docker.sock:ro'
        networks:
            - proxy

networks:
    proxy:
        name: proxy
        driver: bridge
