version: '3.8'

services:
    traefik:
        image: traefik:latest
        container_name: traefik
        restart: unless-stopped
        command:
            - '--api.dashboard=true'
            # - '--api.insecure=true'
            - '--api.insecure=false'
            - '--entrypoints.web.address=:80'
            - '--entrypoints.websecure.address=:443'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--providers.docker.network=proxy'
        ports:
            - '80:80'
            - '443:443'
            - '8080:8080'
        volumes:
            - '/var/run/docker.sock:/var/run/docker.sock:ro'
        networks:
            - proxy

networks:
    proxy:
        name: proxy
        driver: bridge
