services:
    app:
        build:
            context: .
            args:
                - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
                - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
                - VITE_FIREBASE_DATABASE_URL=${VITE_FIREBASE_DATABASE_URL}
                - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
                - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
                - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
                - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
                - VITE_FIREBASE_MEASUREMENT_ID=${VITE_FIREBASE_MEASUREMENT_ID}
        ports:
            - '80:80'
        environment:
            - PRIVATE_KEY=${PRIVATE_KEY}
            - GROQ_API_KEY=${GROQ_API_KEY}
            - DATABASE_URL=${DATABASE_URL}
            - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
            - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
            - YOOKASSA_SHOP_ID=${YOOKASSA_SHOP_ID}
            - YOOKASSA_SECRET_KEY=${YOOKASSA_SECRET_KEY}
            - SESSION_SECRET=${SESSION_SECRET}
        depends_on:
            - db
        restart: unless-stopped
    db:
        image: postgres:15
        ports:
            - '127.0.0.1:5432:5432'
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - db_data:/var/lib/postgresql/data
        restart: unless-stopped

volumes:
    db_data:
